.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #033061; /* Blue background */
    padding: 10px;
    color: #fff;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  

  .events-button{
    margin-left: 30px;
  }

  .events-button,
  .create-store-button {
    background-color: #1145e2;
    border: none;
    padding: 8px 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; 
    /* Space between buttons */
  }
  
  .logout-button {
    background-color: #ff4d4f;
    border: none;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  .content {
    padding: 20px;
    flex-grow: 1;
  }
  